body {
    text-align: center;
}
#player-buttons {
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    display: flex;
    width: 1200px;
    background-color: black;
    gap: 80px;
    justify-content: center;
}

#player-buttons button {
    height: 200px;
    width: 200px;
}

#score-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.score-info p{
    text-align: center;
}